.app {
  padding: 28px;
  background: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dfdfe2;
}

.headerTitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.headerControls {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nodeCountLabel {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #5d5d5e;
}

.nodeCount {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #121214;
}

.treeContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 12px;
}

.treeRoot {
  height: 100%;
}

.draggingSource {
  opacity: 0.3;
}

.footer {
  padding-top: 16px;
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.footerButton {
  text-transform: none;
  border-radius: 8px;
}