.root {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
}

.icon, .label {
  align-items: center;
  display: flex;
}

.label {
  font-weight: bold;
}
